{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -10.3333333,
    "longitude": -53.2,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "America/Recife",
    "external_url": null,
    "internal_url": null,
    "currency": "BRL",
    "country": "BR",
    "language": "pt-BR",
    "radius": 100
  }
}